@font-face {
  font-family: roboto;
  src: url(roboto.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(roboto-black.ttf);
}


* {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(./img/bg_espelhado.png);
  background-size: 100% 100%;
}

body {
  height: 100%;
}

.capa {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  background-size: 100% 100%;
}

.capa__left {
  position: relative;
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capa__left_img {
  height: 41vw;
  position: absolute
}

.capa__left_img--one {
  transform: rotateZ(-5deg);
}

.capa__right {
  width: auto;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

h1 {
  color: white;
  font-family: roboto;
  font-size: 40px;
  text-align: center;
  /* border: 3px solid white; */
  
  margin-bottom: 10px;
  width: 620px;
  padding: 10px;
  border-radius: 5px;
  margin-top: -20px;
  /* box-shadow: 1px 2px 4px #333; */
  height: 108px;
  box-sizing: border-box;
  padding-top: 25px;
  border-radius: 18px;
}

.capa__right a {
  text-decoration: none;
}

.capa_menu_option {
  height: 108px;
  border-radius: 20px;
  width: 27vw;
  margin-right: 5vw;
  /* box-shadow: 10px 10px #f7f7f7; */
  /* background-color: rgba(255,255,255,.5); */
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 2px 2px 3px #333;
  color: white;
  padding-left: 140px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  /* color: #004f53; */
  font-family: roboto-black;
  background-repeat: no-repeat;
  background-position: left center;
}

.capa_menu_option:hover {
  color: white;
}

.capa_menu_option--one {
  background-image: url(img/tela-inicial-icone1.png);
  /*  */
  /* , linear-gradient(to right, #ffffff, #e1e1e1) */
}

.capa_menu_option--one:hover {
  background-image: url(img/tela-inicial-icone1-hover.png);
  /* , linear-gradient(to right, #ffffff, #e1e1e1) */
  
}

.capa_menu_option--two {
  background-image: url(img/tela-inicial-icone2.png);
  /* , linear-gradient(to right, #ffffff, #e1e1e1) */
}

.capa_menu_option--two:hover {
  background-image: url(img/tela-inicial-icone2-hover.png);
  /* , linear-gradient(to right, #ffffff, #e1e1e1) */
  
}

.capa_menu_option--three {
  background-image: url(img/tela-inicial-icone3.png);
  /* , linear-gradient(to right, #ffffff, #e1e1e1) */
}

.capa_menu_option--three:hover {
  background-image: url(img/tela-inicial-icone3-hover.png);
  /* , linear-gradient(to right, #ffffff, #e1e1e1) */
  
}

.capa__right__img--mobile {
  width: 50vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}



@media only screen and (max-width: 768px) {
  html {
    position: relative;
    background-attachment: fixed;
  }

  .capa {
    flex-direction: column;
    position: relative;
    height: auto;
  }

  .capa_menu_option {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    padding-left: 135px;
    font-size: 18px;
  }

  .capa__right__img--mobile {
    display: inline-block;
  }

  .capa__left {
    display: none;
  }

  .capa__right {
    padding-bottom: 40px;
  }

  .only-mobile {
    display: block;
  }

  h1 {
    width: 100%;
  }
}


