body {
  background-repeat: repeat !important;
  background-position: center !important;
  background-attachment: initial !important;
}
p {
  word-wrap: break-word;
}
.container {
  background-color: transparent;
  padding: 4px 40px;
  border-radius: 25px;
  position: relative;
  z-index: 2;
}
.paginas {
  position: relative;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.pagina.pg1 .container,
.pagina.pg3 .container,
.pagina.pg5 .container {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 30px;
}

.pagina.pg1 {
  padding-bottom: 100px;
}

.pagina.pg2,
.pagina.pg4 {
  color: #fff;
}
.pagina.pg2 .container,
.pagina.pg4 .container {
  color: #fff;
  background-color: rgba(0, 79, 83, 0.7);
  padding-bottom: 30px;
}
.pagina.pg2 h2,
.pagina.pg2 h3,
.pagina.pg2 h4,
.pagina.pg2 .enunciado,
.pagina.pg4 h2,
.pagina.pg4 h3,
.pagina.pg4 h4,
.pagina.pg4 .enunciado {
  color: #fff;
}
.pagina.pg2 .caixa,
.pagina.pg4 .caixa {
  background-color: #fff;
  color: #333;
}
.pagina.pg2 .modal-body,
.pagina.pg4 .modal-body {
  color: #333;
}
.pagina.pg2 .modal-body .caixa,
.pagina.pg4 .modal-body .caixa {
  background-color: #005154;
  color: #fff;
}
.pagina.pg2 .feedbacks p,
.pagina.pg4 .feedbacks p {
  background-color: #fff;
  padding: 5px 10px;
}

/*----------- Elementos -----------*/
/*------ PG 1 ------*/
.pg1-bg_esq1,
.pg1-bg_esq3,
.pg1-bg_dir2,
.pg1-bg_dir4 {
  position: absolute;
  z-index: 0;
}
.pg1-bg_esq1 {
  width: 250px;
  margin-left: -250px;
}
.pg1-bg_esq3 {
  bottom: 0;
  width: 210px;
  margin-left: -250px;
  margin-bottom: 0px;
}

.pg1-bg_dir2 {
  bottom: 50%;
  right: 0;
  width: 220px;
  margin-right: -220px;
}

.pg1-bg_dir4 {
  bottom: 0;
  right: 0;
  width: 200px;
  margin-right: -210px;
}

/*------ PG 2 ------*/
.pg2-bg_esq1,
.pg2-bg_esq3,
.pg2-bg_dir2,
.pg2-bg_dir4 {
  position: absolute;
  z-index: 0;
}
.pg2-bg_esq1 {
  width: 200px;
  margin-left: -250px;
}
.pg2-bg_esq3 {
  bottom: 0;
  width: 210px;
  margin-left: -250px;
  margin-bottom: 0px;
}

.pg2-bg_dir2 {
  bottom: 50%;
  right: 0;
  width: 220px;
  margin-right: -220px;
}

/*------ PG 3 ------*/

.pagina.pg3 .container {
  background-color: #fff;
}
.pg3-bg_esq1,
.pg3-bg_esq3,
.pg3-bg_dir2,
.pg3-bg_dir4 {
  position: absolute;
  z-index: 0;
}
.pg3-bg_esq1 {
  width: 400px;
  margin-left: 0px;
}

.pg3-bg_esq3 {
  bottom: 0;
  width: 210px;
  margin-bottom: 25%;
}

.pg3-bg_dir2 {
  top: 25%;
  right: 0;
  width: 220px;
}

.pg3-bg_dir4 {
  bottom: 0%;
  right: 0;
  width: 220px;
}

/*------ PG 4 ------*/

.pg4-bg_esq1,
.pg4-bg_esq3,
.pg4-bg_dir2,
.pg4-bg_esq4,
.pg4-bg_dir5 {
  position: absolute;
  z-index: 0;
}
.pg4-bg_esq1 {
  width: 240px;
  margin-left: 0px;
  left: 0%;
}

.pg4-bg_esq3 {
  top: 50%;
  width: 400px;
  margin-left: -155px;
}

.pg4-bg_dir2 {
  top: 25%;
  right: 0;
  width: 370px;
}

.pg4-bg_esq4 {
  bottom: 7%;
  width: 120px;
}

.pg4-bg_dir5 {
  bottom: 0%;
  right: 0%;
  width: 420px;
}

/*------ PG 5 ------*/

.pg5-bg_esq {
  position: absolute;
  z-index: 0;
}
.pg5-bg_esq {
  width: 300px;
  bottom: 0%;
  margin-bottom: -50px;
}

/*----------- /Elementos -----------*/

h3 {
  font-size: 24px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  color: #00838d;
}

.icone::before {
  background-color: transparent;
  filter: drop-shadow(#222 -4px 8px 6px);
}

.caixa {
  border: none;
  border-radius: 25px;
  background-color: #005154;
  color: #fff;
  width: 80%;
  margin: 50px auto !important;
  display: block;
}
.caixa.icone {
  color: #fff;
}

/*-------- Menu-------- */
.dropdown button {
  background: url("../../../assets/img/menu-alt.png") center no-repeat;
  background-color: #fff;
  background-size: 70%;
  box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 20px;
  top: 15px;
  left: 15px;
  position: fixed;
  z-index: 9;
}

.dropdown-menu {
  background: unset;
  background-color: #00838d !important;
}
.bg-fundo {
  background-color: #000;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 500;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
}
.dropdown-item {
  color: #fff;
}
.dropdown-toggle::after {
  display: none;
}

.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

/*-------- /Menu --------*/

/* -------- Paginação antiga --------
.paginacao {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
  padding-bottom: 40px;
}
.paginacao .btn-sesc {
  display: flex;
  padding: 0;
}
.paginacao .btn-sesc[disabled]{
  opacity: 0.7;
  border: 2px solid #333;
  color: #333;
}
.paginacao .btn-sesc[disabled] a {
  color: #333;
}
.paginacao .btn-sesc[disabled] a:hover {
  color: #333;
  background-color: #efefef;
}
.paginacao .btn-sesc[disabled]:hover{
  transform: translateY(0);
}
.paginacao .btn-sesc a {
  padding: 6px 15px;
  text-decoration: none;
  color: #00838D;
}
.paginacao .btn-sesc a:hover {
  color: #00838D;
}
.paginacao .btn-sesc a.active {
  padding: 6px 15px;
  text-decoration: none;
  color: #00838D;
  text-decoration: underline;
}
-------- /Paginação antiga -------- */

/* -------- Paginação nova --------*/
footer {
  background-color: transparent !important;
  display: flex;
  margin: 20px auto;
}
.pagination {
  display: flex;
  margin: auto;
}
footer ul.pagination li.active a {
  background-color: #00838d;
  color: #fff;
}
footer ul.pagination a:hover {
  color: #00838d;
}
footer ul.pagination a:visited {
  background-color: #c3c3c3;
}
/* -------- /Paginação nova --------*/

/* carrosel ajuste centralizar img */

.carousel.sesc .carousel-item {
  text-align: center;
}

.carousel__img {
  max-height: 360px;
}

/* imagens em geral */
figure {
  text-align: center;
}

figcaption {
  font-size: 12px;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.btns-publi {
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btns-publi__btn--one,
.btns-publi__btn--two,
.btns-publi__btn--trhee,
.btns-publi__btn--four,
.btns-publi__btn--five {
  font-weight: bold;
  font-size: 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 350px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  /* border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px; */
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #d3d2e0;
  box-shadow: 1px 1px 3px #333;
}

.btns-publi__btn--one p,
.btns-publi__btn--two p,
.btns-publi__btn--trhee p,
.btns-publi__btn--four p,
.btns-publi__btn--five p {
  font-weight: bold;
  font-size: 18px;
  background-color: #d3d2e0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  text-align: center;
  min-width: 80%;
  z-index: 0;
  border-radius: 5px;
  border: 1px solid black;
}

.btns-publi__btn--one:hover p,
.btns-publi__btn--two:hover p,
.btns-publi__btn--trhee:hover p,
.btns-publi__btn--four:hover p,
.btns-publi__btn--five:hover p {
  color: white;
}

.btn-0 {
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  color: #333;
}
.btn-0:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition-duration: 0.3s;
}
.btns-publi__btn--one:hover .btn-0:before {
  transform: translateX(0);
  transition-duration: 0.3s;
}
.btns-publi__btn--two:hover .btn-0:before {
  transform: translateX(0);
  transition-duration: 0.3s;
}
.btns-publi__btn--trhee:hover .btn-0:before {
  transform: translateX(0);
  transition-duration: 0.3s;
}
.btns-publi__btn--four:hover .btn-0:before {
  transform: translateX(0);
  transition-duration: 0.3s;
}
.btns-publi__btn--five:hover .btn-0:before {
  transform: translateX(0);
  transition-duration: 0.3s;
}

.btns-publi__btn--trhee .btn-0:before {
  background-color: #00a7b3;
}

.btns-publi__btn--one .btn-0:before,
.btns-publi__btn--two .btn-0:before,
.btns-publi__btn--four .btn-0:before {
  background-color: #ff9700;
}

.btns-publi__btn--five .btn-0:before {
  background-color: #00838d;
}

.btns-publi__btn--one {
  background-image: url(../../images/modal-botao-1.png);
  width: 275px;
}

.btns-publi__btn--two {
  background-image: url(../../images/modal-botao-2.png);
  width: 276px;
}

.btns-publi__btn--trhee {
  background-image: url(../../images/modal-botao-3.png);
  width: 275px;
}

.btns-publi__btn--four {
  background-image: url(../../images/modal-botao-4.png);
  width: 280px;
}

.btns-publi__btn--five {
  background-image: url(../../images/modal-botao-5.png);
  width: 275px;
}

.btns-publi__btn--one:hover,
.btns-publi__btn--two:hover,
.btns-publi__btn--trhee:hover,
.btns-publi__btn--four:hover,
.btns-publi__btn--five:hover {
  background-position: right bottom;
}
.btns-publi__btn--one:hover,
.btns-publi__btn--two:hover,
.btns-publi__btn--four:hover {
  background-color: #ff9700;
}
.btns-publi__btn--trhee:hover {
  background-color: #00a7b3;
}

.btns-publi__btn--five:hover {
  background-color: #3c8086;
}

.cards {
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tooltip-eja {
  border-bottom: 2px dashed #00838d;
  /* padding: 0px 8px; */
  /* border-radius: 4px; */
  display: inline-block;
  cursor: pointer;
}

.only-mobile {
  display: none;
}

/*
.icone.exemplo::before {
  background-image: url(../../images/icone_exemplo2.png);
}
*/

.icone.final::before {
  background-image: url(../../images/icone_final.png);
}

.icone.nota::before {
  background-image: url(../../images/icone_nota.png);
}

.icone.dica::before {
  background-image: url(../../images/icone_dica.png);
}

.botoes-fala {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.botao-fala1 {
  background-image: url(../../images/modal-botao-6.png);
  height: 220px;
  width: 254px;
}

.botao-fala1:hover,
.botao-fala2:hover {
  background-position: right center;
  cursor: pointer;
}

.botao-fala2 {
  background-image: url(../../images/modal-botao-7.png);
  height: 210px;
  width: 260px;
}

.map-img {
  position: relative;
}

area[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px 20px;
  border: 2px solid #00838d;
  border-radius: 6px;
}

.caixa {
  margin-bottom: 40px;
}

#mymap {
  margin-top: 60px;
  width: 900px;
  max-width: 100%;
}

area {
  cursor: pointer;
}

.lista-ingles {
  display: none;
}

.botoes-bandeiras {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.botoes-bandeiras img {
  transition: 300ms;
  cursor: pointer;
}

.botoes-bandeiras img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.botoes-simples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-left: unset;
}

.view-mobile {
  display: none;
}

.modal-body .caixa.icone {
  width: 80% !important;
  margin: 30px auto;
}

figure img {
  border-radius: 20px;
  filter: drop-shadow(#424242 4px 4px 4px);
  margin-bottom: 20px;
}

.pagina.pg2 figure img,
.pagina.pg4 figure img {
  filter: drop-shadow(#222 5px 5px 6px);
}

.video-youtube {
  width: 640px;
  height: 360px;
  margin: 40px auto;
  display: block;
  margin-bottom: 50px;
}

.painel-exemplos {
  background: url("../../images/ex_painel.png") no-repeat;
  background-size: 100%;
  width: 500px;
  height: 424px;
  margin: 40px auto;
}
.btn-exemplos {
  border: none;
  position: absolute;
  transition: all 0.2s;
}
.btn-exemplo01 {
  background: url("../../images/ex1.png") no-repeat;
  background-size: 100%;
  width: 192px;
  height: 98px;
  margin-left: 250px;
  margin-top: 10px;
}
.btn-exemplo02 {
  background: url("../../images/ex2.png") no-repeat;
  background-size: 100%;
  width: 198px;
  height: 98px;
  margin-left: 284px;
  margin-top: 110px;
}
.btn-exemplo03 {
  background: url("../../images/ex3.png") no-repeat;
  background-size: 100%;
  width: 181px;
  height: 95px;
  margin-left: 300px;
  margin-top: 222px;
}
.btn-exemplo04 {
  background: url("../../images/ex4.png") no-repeat;
  background-size: 100%;
  width: 200px;
  height: 104px;
  margin-left: 272px;
  margin-top: 314px;
}

.btn-exemplo01:hover {
  background-image: url("../../images/ex1_hover.png");
}
.btn-exemplo02:hover {
  background-image: url("../../images/ex2_hover.png");
}
.btn-exemplo03:hover {
  background-image: url("../../images/ex3_hover.png");
}
.btn-exemplo04:hover {
  background-image: url("../../images/ex4_hover.png");
}

/*---------- Painel Mapa ----------*/

.painel-mapa {
  background: url("../../images/mapa/mapa.png") no-repeat;
  background-size: 100%;
  width: 846px;
  height: 442px;
  margin: 60px auto 30px auto;
  transition: all 0.3s;
}
.btn-paises {
  position: absolute;
  background-size: 100% !important;
  cursor: pointer;
}
.btn-africano {
  width: 38px;
  height: 34px;
  margin-top: 334px;
  margin-left: 431px;
}
.btn-britanico {
  width: 20px;
  height: 31px;
  margin-top: 124px;
  margin-left: 379px;
  border-radius: 20px;
}
.btn-canadense {
  width: 215px;
  height: 150px;
  margin-top: 10px;
  margin-left: 64px;
  border-radius: 220px 50px 20px 130px;
}
.btn-indiano {
  width: 66px;
  height: 68px;
  margin-top: 196px;
  margin-left: 553px;
}
.btn-ingles01 {
  width: 68px;
  height: 64px;
  margin-top: 73px;
  margin-left: 0px;
}
.btn-ingles02 {
  width: 140px;
  height: 70px;
  margin-top: 155px;
  margin-left: 105px;
  border-radius: 0px 00px 60px 60px;
}
.btn-irlandes {
  width: 14px;
  height: 15px;
  margin-top: 136px;
  margin-left: 367px;
  border-radius: 6px;
}
.btn-neozelandes {
  width: 14px;
  height: 36px;
  margin-top: 369px;
  margin-left: 788px;
  transform: rotate(42deg);
}

#div-tooltip {
  background-color: #fff;
  border: #00838d solid 4px;
  border-radius: 10px;
  width: 350px;
  height: 60px;
  position: absolute;
  z-index: 10;
  padding-top: 14px;
  margin-left: -150px;
  left: 50%;
  margin-top: -40px;
  display: none;
  transition: all 0.4s;
}
#texto-tooltip {
  text-align: center;
}

/*---------- /Painel Mapa ----------*/

@media only screen and (min-width: 901px) {
  .mapa-mobile {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .painel-mapa {
    display: none;
  }

  .map-img {
    display: none;
  }
  .britanico {
    width: 50%;
    margin-left: 10%;
  }
  .irlandes1 {
    width: 36%;
  }
  .canadense {
    width: 52%;
  }
  .indiano {
    width: 50%;
  }
  .africano {
    width: 43%;
  }
  .ingles {
    width: 60%;
  }
  .neozelandes {
    width: 22%;
  }

  .pg1-bg_esq1,
  .pg1-bg_esq3,
  .pg1-bg_dir2,
  .pg1-bg_dir4 {
    display: none;
  }
  .pagina.pg2 figure img,
  .pagina.pg4 figure img,
  .cards__card figure {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .btns-publi,
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .reflexao {
    display: none;
  }

  .view-desk {
    display: none;
  }

  .view-mobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .painel-exemplos {
    transform: scale(0.8);
    margin-left: -90px;
  }
  .botoes-bandeiras {
    align-items: center;
    width: 30%;
    margin-left: 30%;
  }

  .britanico {
    width: 70%;
  }
  .irlandes1 {
    width: 53%;
  }
  .canadense {
    width: 70%;
  }
  .indiano {
    width: 70%;
  }
  .africano {
    width: 54%;
  }
  .ingles {
    width: 75%;
  }
  .neozelandes {
    width: 31%;
  }

  .video-youtube {
    width: 320px;
    height: 180px;
  }
}
